<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Scoreboard</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <nav class="topnav highlight" id="myTopnav">
        <a href="#"><h4>How to Invest</h4></a>
        <a href="#"><h4>Formulas</h4></a>
        <a href="#"><h4>Learn</h4></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </nav>
    <hr class="zig-zag">
    <header>
      <section class="metrics">
        <article class="metric">
          <h6>Time Weighted Return:</h6>
          <hr>
<!--           <p class="<%= pos_or_neg(@time_weighted_return_to_date) %>"><%= @time_weighted_return_to_date %>%</p> -->
        </article>
        <article class="metric">
          <h6>Simple Return (%):</h6>
          <hr>
          <p class="<%= pos_or_neg(@total_portfolio_returns_percent)%>"><%= (@total_portfolio_returns_percent * 100).round(2) %>%</p>
        </article>
        <article class="metric"> 
          <h6>Total Returns ($):</h6>
          <hr>
          <p class="<%= pos_or_neg(@total_portfolio_returns_in_dollars) %>"><%= format_num(@total_portfolio_returns_in_dollars.round(2), 'include_dollar_sign') %></p>
        </article>
        <article class="metric">
          <h6>Market Value</h6>
          <hr>
          <p><%= format_num(@total_current_portfolio_market_value, 'include_dollar_sign') %></p>
        </article>
        <article class="metric">
          <h6>Total Cost Basis</h6>
          <hr>
          <p><%= format_num(@total_portfolio_cost_basis, 'include_dollar_sign') %></p>
        </article>
        <article class="metric">
          <h6>Return vs. S&P 500</h6>
          <hr>
          <p class="pos"></p>
        </article>
        <article class="metric">
          <h6>Today's S&P 500</h6>
          <hr>
          <p class="<%=  pos_or_neg(@todays_sp_percent) %>"><%= format_num(@todays_sp_points, 'include_dollar_sign').slice(1..-1) %> (<%= @todays_sp_percent =%>%)</p>
        </article>
        <article class="metric">
          <h6>1 Day Change ($)</h6>
          <hr>
          <p class="<%=  pos_or_neg(@one_day_change_dollars) %>"><%= format_num(@one_day_change_dollars, 'include_dollar_sign') %></p>
        </article>
        <article class="metric">
          <h6>1 Day Change (%)</h6>
          <hr>
          <p class="<%= pos_or_neg(@one_day_change_percent)%>"><%= @one_day_change_percent%>%</p>
        </article>
        <article class="metric">
          <h6>Unrealized Gains</h6>
          <hr>
          <p class="pos"></p>
        </article>
        <article class="metric">
          <h6>Realized Gains</h6>
          <hr>
          <p class="neg"></p>
        </article>
      </section>
      <section class='list-control-sidebar'>
        <form action="#" class='list-controls'>
            <button class="editlist">
              <g>
                <svg viewBox="0 0 24 24">        
                  <path d="M19.4 7.34L16.66 4.6A2 2 0 0 0 14 4.53l-9 9a2 2 0 0 0-.57 1.21L4 18.91a1 1 0 0 0 .29.8A1 1 0 0 0 5 20h.09l4.17-.38a2 2 0 0 0 1.21-.57l9-9a1.92 1.92 0 0 0-.07-2.71zM9.08 17.62l-3 .28.27-3L12 9.32l2.7 2.7zM16 10.68L13.32 8l1.95-2L18 8.73z" />
                </svg>
                <p>Edit list</p>
                <p style="display: none">coming soon</p>
              </g>
          </button>
          <button class="list-info">
            <g>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/>
              </svg>
              <p>List info</p>
              <p style="display: none">coming soon</p>
            </g>
          </button>
        </form>
      </section>
    </header>
    <main>
      <section class="option-heading">
        <h5 class="active page-tab">Balances</h5>
        <h5 class="page-tab">Performance</h5>
        <h5 class="page-tab">Allocation</h5>
      </section>
      <hr>
      <div id="yield-div">
        <div id='the-actual-yield'><%= yield %></div>
      </div>
    </main>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
    <script>
      function actionDropdown(id) {
        document.getElementById(id).classList.toggle("show");
      }

      function display() {
        window.print()
      }
    </script>
    <script>
      // jQuery practice
      $(function() {
        var $editList = $('.editlist p');
        var $listInfo = $('.list-info p');

        $('.editlist').on('click', function(event) {
          event.preventDefault();
          $editList.toggle();
        });

        $('.list-info').on('click', function(event) {
          event.preventDefault();
          $listInfo.toggle();
        })

        var $article = $('article');
      });  
    </script>
  </body>
</html>









